@font-face {font-family:'thin';
    src:url('thin.woff2') format('woff2'),
    url('thin.woff') format('woff');}
@font-face {font-family:'bold';
    src:url('bold.woff2') format('woff2'),
    url('bold.woff') format('woff');}
*{font-family:'thin',Georgia,sans-serif;}
h1,h2,h3,h4,h5,h6{
    font-family:'bold',
    Georgia,sans-serif;padding-top: 1em;
    padding-bottom: 1em;}
h1{font-size: xx-large;}
h4{font-size: x-large;}
p{font-size: larger;}
.child{font-size: larger;}
html{/*overflow:hidden;*/background:orangered;cursor: url("cur.cur"), auto;/*#2f6*/}
body{background: #333;;width:97%;
    margin:0 auto;border:2px 0px solid orangered;
    border-bottom-left-radius: 50px 20px;
    border-bottom-right-radius: 50px 20px;}
    wrapper{text-align:center}
.svg{padding:0;height:0;padding-bottom:15em;
    min-width:225px;background-size:cover;
    position:relative;display:block;margin:auto;
    background-image:url('black_pentagon.svg')}
    /*max-height:217px; will not work. It(height in general)creates a border in this svg. Using padding-bottom instead//em instead of % due to responsive design*/
/*img{height:34%;top:-14em;background-size:cover;position:relative;display:block;margin:auto;z-index:1;opacity: .1}*/
.child{border:2px solid #092;
    padding: 0.5em;
    width: calc(39% - 4px);
    height: 100%;
    margin:1em;border-radius: 5px}
.container{display: flex;
    justify-content:space-evenly;flex-wrap:wrap;
    padding:5px}
.selfie{width:10em;top:1em;position:relative}
#is_yellow{color: yellow}
.is_white{color:white}
.is_orange{color:orange}
.is_grey{color:grey}
setspace{padding:1em 1px 1em 1px;} /*instead of <br>! padding:1em 0 1em 0; doesn't work for some reason. Using 1 px instead for left and right. It is not noticeable*/
/*ONLY FOR SVGS*/
.icon,
.text {
  vertical-align: middle;
  display: inline-block;
}
.has_inline_block{
    display: inline-block;
}
.has_borders{
padding-left:1em;
padding-right:1em;
}
#custom_button{
    color:yellow;
}
#custom_button:hover{
    background-color: grey;
}

svg#personal{
    position: relative;
    left:28%;
    filter: drop-shadow(rgba(255, 127, 0, 1) 0px 0px 10px);
    transition: 0.3s;
    opacity: 0.6;
}
svg#personal:hover{
    left:0;
    opacity: 1;
}


svg#accounts{
    position: relative;
    right:28%;
    filter: drop-shadow(rgba(255, 0, 0, 1) 0px 0px 50px);
    cursor: pointer;
}

svg#accounts>path.dynamic-color[fill]{
    fill: #ffaa2a;
}


svg#accounts text{
    visibility: hidden;
}

/*https://stackoverflow.com/questions/13630229/can-i-have-an-onclick-effect-in-css/32721572*/
#btnControl {
    display: none;
}

#btnControl:checked+label>svg {
    right:0;
    filter: drop-shadow(rgba(255, 127, 0, 1) 0px 0px 10px);
    cursor: url("cur.cur"), auto;
}
#btnControl:checked+label>svg>path.dynamic-color[fill]{
    fill:orange;
}
#btnControl:checked+label>svg>text{
    visibility: visible;
}



/**
*Scrollbar
/
/*For webkit users*/
html::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,1);
    border-radius: 15px;
    background-color: grey;
}
html::-webkit-scrollbar
{
    width: 20px;
}
html::-webkit-scrollbar-thumb
{
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.1);
    background-color: white;
}





/*for non moz and non webkit users*/
html::scrollbar-track
{
    box-shadow: inset 0 0 8px rgba(0,0,0,1);
    border-radius: 15px;
    background-color: grey;
}
html::scrollbar
{
    width: 20px;
}
html::scrollbar-thumb
{
    border-radius: 15px;
    box-shadow: inset 0 0 4px rgba(0,0,0,0.1);
    background-color: white;
}


/*For mozilla*/
html::-moz-scrollbar-track
{
    -moz-box-shadow: inset 0 0 8px rgba(0,0,0,1);
    border-radius: 15px;
    background-color: grey;
}
html::-moz-scrollbar
{
    width: 20px;
}
html::-moz-scrollbar-thumb
{
    border-radius: 15px;
    -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.1);
    background-color: white;
}


a.button,.dropdown-content>a.dropdown-item{
font-weight: bolder;    
}


/*ZUM DEBUGGEN:https://css-tricks.com/findingfixing-unintended-body-overflow/*/
/*
* {
    outline: 1px solid blue;
}

OR

    outline: 1px solid red;
    opacity: 1 !important;
    visibility: visible !important;
*/